* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header- timer and leaderboards */
header {
    background-color: #1ed1f0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* leadboard link */

header div#leaderboards {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

header div#leaderboards:hover {
    color: rgb(67, 65, 65);
    cursor: pointer;
}

/* timer */

header #time {
    font-weight: bold;
}


/* Main container */
main .container {
    width: 500px;
    margin: 0 auto;
    
}


main .container h1 {
    font-size: 1.5rem;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

/* start screen */

main .container .start {
    display: block;
}

main .container .start p {
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 1.2rem;
}

main div.start-btn {
    display: flex;
    justify-content: center;
}

main div.start-btn button {
    background-color: #1ed1f0;
    font-size: 1.2rem;
    padding: 10px;
    border: 2px #40d2eb;
    border-radius: 5px;
    transition: 0.3s;
}

main div.start-btn button:hover {
    background-color: #1ed1f0;
}

/* questions */

main .container .questions {
    display: none;
}

main .container .questions .buttons {
    margin-bottom: 10px;
}

main .container .questions .buttons button {
    display: block;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.4rem;
    background-color: #1ed1f0;
    padding: 10px;
    margin: 5px;
    border: 2px #40d2eb;
    border-radius: 5px;
    transition: 0.3s;
}

main .container .questions .buttons button:hover {
    background-color: #1ed1f0;
}


/* flash right or wrong */

main .container .questions #right-wrong {
    display: none;
    transition: 0.3s;
}

main .container .questions .right {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(77, 232, 77);
    font-weight: bold;
    font-style: italic;
}

main .container .questions .wrong {
    padding: 10px;
    margin-top: 10px;
    background-color: #1ed1f0;
    font-weight: bold;
    font-style: italic;
}

/* end */

main .container .end {
    display: none;
}

main .container .end h2 {
    text-align: center;
    padding-bottom: 20px;
}

main .container .end form {
    text-align: center;
}

main .container .end form input {
    font-size: 1.2rem;
}

main .container .end label {
    display: block;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

main .container .end button {
    background-color: #1ed1f0; 
    font-size: 1.2rem;
    padding: 2px 5px 2px 5px;
    border: 2px #40d2eb;
    border-radius: 5px;
    transition: 0.3s;
}

main .container .end button:hover {
    background-color: #1ed1f0;
}

/* leaderboard screen */

main .container .leaderboards-list {
    display: none;
}

main .container .leaderboards-list ol li {
    padding: 10px 10px 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

main .container .leaderboards-list ol li:nth-child(odd) {
    background-color: #1ed1f0;
}

main .container .leaderboards-list ol li:nth-child(even) {
    background-color: #1ed1f0;
}

main .container .leaderboards-list div#leaderboard-btns {
    margin-top: 20px;
}

main .container .leaderboards-list div#leaderboard-btns button {
    background-color: #1ed1f0;
    font-size: 1.2rem;
    padding: 2px 5px 2px 5px;
    border: 2px #40d2eb;
    border-radius: 5px;
    transition: 0.3s;
}

main .container .leaderboards-list div#leaderboard-btns button:hover {
    background-color: #1ed1f0;
}
